{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    <form method="post">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="mb-3">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        <a href="javascript:void(0)" onclick="history.back()" class="btn btn-secondary">Retour</a>
        {{ form_end(form) }}
    </form>
{% endblock %}
