{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div id="sidebar" class="sidebar sidebar-dark sidebar-fixed">
        <div class="sidebar-inner">
            <ul class="sidebar-nav">
                {% for menuItem in easyadmin_menu() %}
                    {% if menuItem.isSection() %}
                        <li class="nav-item nav-section">
                            <span>{{ menuItem.label }}</span>
                        </li>
                    {% elseif menuItem.isMenu() %}
                        <li class="nav-item nav-submenu">
                            <a href="#" class="nav-link">
                                <i class="{{ menuItem.icon }}"></i>
                                <span>{{ menuItem.label }}</span>
                            </a>
                            <ul class="nav">
                                {% for subMenuItem in menuItem.children %}
                                    <li class="nav-item">
                                        <a href="{{ subMenuItem.url }}" class="nav-link">
                                            <i class="{{ subMenuItem.icon }}"></i>
                                            <span>{{ subMenuItem.label }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content" class="content">
        {# Contenu principal de votre application #}
    </div>
{% endblock %}
