{# templates/search/search.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de recherche pour "{{ query }}"</h1>
  
<div class="row">
    <div class="container">
        <div class="row">
            {% for livre in pagination %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/3187cc/ffeb3b.jpg&text={{livre.titre}}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ livre.anneePublication }}</div>
                            <h2 class="card-title h4"><a href="{{ path('app_livre_show', {'id': livre.id}) }}">{{ livre.titre }}</a></h2>
                            <p class="card-text">{{ livre.resume }}</p>
                            <p class="card-text">Genre :
                                <a href="{{ path('app_genre_show', {'id': livre.genre.id}) }}">
                                {{ livre.genre.nom }}
                                </a>
                            </p>
                            {% if livre.emprunts is not empty and livre.emprunts[0].utilisateur == app.user %}
                                <div class="text-success">
                                    Le livre a été emprunté par vous.
                                </div>
                            {% endif %}
                            <br>
                            {% if livre.disponibilite %}
                                <a class="btn btn-primary" href="{{ path('app_emprunt_new', {'id': livre.id}) }}">Emprunter →</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('reservation_new', {'id': livre.id}) }}">Reserver →</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>
                            Oops!</h1>
                        <h2>
                            Aucun résultat pour cette recherche</h2>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}