<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    </head>
     <body class="d-flex flex-column">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{{path("app_home")}}">PIOCHE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{path("app_home")}}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path("app_livre_index")}}">Livres</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{path("app_livre_index")}}">Administration</a></li>
                        {% endif %}
                        {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownprofil" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Mon compte</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownprofil">
                                <li><a class="dropdown-item" href="profil-overview.html">Gérer mon compte</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{path("app_login")}}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Bienvenue sur le site en ligne de la PIOCHE!</h1>
                    <p class="lead mb-0">Explorez des milliers de livres passionnants, élargissez vos horizons et laissez votre imagination s'épanouir.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-5 mx-auto">
                            <h3 class="fw-light">Rechercher un livre</h3>
                            <form action="{{ path('search') }}" method="GET">
                                <div class="input-group">
                                    <input class="form-control border-end-0 border rounded-pill" name="q" type="search" value="" id="example-search-input">
                                    <!--
                                    <span class="input-group-append">
                                        <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </span>
                                    -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        </div>
        <!-- Footer-->
        <hr>
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Pioche 2023</div></div>       
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>